{% extends "../base_page.html" %}

{% block content %}
<h2>When do we meet?</h2>
<p>We meet approximately every two weeks at Espresso Royale on State St. or Space 2435 in North Quad. </p>
<p>For meeting location announcements, join the <a href='http://www.meetup.com/CoffeeHouseCoders/'>Meetup group</a>, subscribe to our event calendar (<a href="webcal://www.meetup.com/CoffeeHouseCoders/events/ical/Coffee+House+Coders/">iCal</a>/<a href="http://www.meetup.com/CoffeeHouseCoders/events/rss/Coffee+House+Coders/">RSS</a>) or follow us on <a href='http://twitter.com/coffeehousecode'>Twitter</a>.</p>

<h2>Projects</h2>
<p>Want your project linked here? Come bug us!</p>
{% endblock %}