{% extends "../base_page.html" %}

{% block content %}
<p>We meet every Wednesday, from 8-10 EST, at:</p>
<pre>Caribou Coffee
31901 Woodward Avenue
Royal Oak, MI 48073</pre>

<p>The last Wed of the month is a special longer edition that starts at 7pm.</p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=caribou+coffee&amp;aq=&amp;sll=42.524139,-83.195461&amp;sspn=0.005448,0.01134&amp;ie=UTF8&amp;hq=caribou+coffee&amp;hnear=&amp;ll=42.52431,-83.192762&amp;spn=0.005448,0.01134&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=8777002513835499183&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=caribou+coffee&amp;aq=&amp;sll=42.524139,-83.195461&amp;sspn=0.005448,0.01134&amp;ie=UTF8&amp;hq=caribou+coffee&amp;hnear=&amp;ll=42.52431,-83.192762&amp;spn=0.005448,0.01134&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=8777002513835499183" style="color:#FFF;text-align:left">View Larger Map</a></small>
{% endblock %}