{% extends "../base_page.html" %}

{% block content %}
<p>We meet every Wednesday, from 8-10 EST, at:</p>
<pre>The Grind
3037 Biddle Ave.
Wyandotte, MI 48195</pre>

<p>The Grind is cash-only. Also, while there, make sure to ask for a perks card (ten punches for a free coffee/drink) - they punch it twice on Wednesdays</p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?client=ubuntu&amp;channel=fs&amp;oe=utf-8&amp;ie=UTF8&amp;q=the+grind&amp;fb=1&amp;gl=us&amp;hq=the+grind&amp;hnear=Southfield,+MI&amp;cid=0,0,15488136910354485915&amp;ei=MY1HTJPkKo6UnQfFg6X2Aw&amp;ved=0CDwQnwIwBw&amp;iwloc=A&amp;ll=42.20253,-83.149128&amp;spn=0.006295,0.006295&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?client=ubuntu&amp;channel=fs&amp;oe=utf-8&amp;ie=UTF8&amp;q=the+grind&amp;fb=1&amp;gl=us&amp;hq=the+grind&amp;hnear=Southfield,+MI&amp;cid=0,0,15488136910354485915&amp;ei=MY1HTJPkKo6UnQfFg6X2Aw&amp;ved=0CDwQnwIwBw&amp;iwloc=A&amp;ll=42.20253,-83.149128&amp;spn=0.006295,0.006295&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
{% endblock %}