{% extends "../base_page.html" %}

{% block content %}
<h2>When do we meet?</h2>
<p>Check out the Google Calendar below for our meeting schedule.</p>
<iframe src="https://www.google.com/calendar/b/0/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=350&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=2q55khsgs5bsrkae0m1jmut6tg%40group.calendar.google.com&amp;color=%237A367A&amp;ctz=America%2FNew_York" style=" border-width:0 " width="425" height="350" frameborder="0" scrolling="no"></iframe>
{% endblock %}