{% extends "base_page.html" %}

{% block content %}
<h2>Brief History</h2>
<p>
CoffeeHouseCoders was started in 2008 by mjpizz and steiza to hack on side projects outside of work. It quickly grew to several hackers in the Ann Arbor area and has evolved into a super-informal weekly hacker meetup.
</p>
<p>
There's no "meeting format", people just show up and do what they want: coding, whiteboarding and idea with friends, arguing about technology, or finding startup co-founders.
</p>
<p>
We love CoffeeHouseCoders so much, we put together this site to make it even easier to organize a meetup. Find a <a href="/locations/">location near you</a> or <a href="/advice/">start your own</a>.
</p>
{% endblock %}