{% extends "base_page.html" %}

{% block content %}
<h2>Starting a group</h2>
<p>
Rock on! It's pretty easy to organize a meetup, just pick a time, place, and show up. <a href="mailto:startup@coffeehousecoders.org">Send us an e-mail</a> and we can add you to the <a href="/locations/">list of locations</a>. Below is some advice we wished someone told us when we were getting started:
</p>

<h2>Picking a meeting time</h2>
<p>
You probably want to once a week or once a month. Meeting weekly is easier to explain ('we meet every Wednesday' instead of 'second Wednesday of every month') and it's easier for people to work into their schedules, even if they can't make it to every meeting. If you decide to meet once a month, consider doing something like <a href='http://superhappydevhouse.org/'>SuperHappyDevHouse</a>. We meet Wednesdays, 9-11PM EST (plus or minus a few hours), and that's definitely when the <a href="/irc/">IRC channel</a> is most active. Pick a time you know at least you and one other person can make it.
</p>

<h2>Pick a location</h2>
<p>
Wherever you meet, it must have good Internet! Hell hath no fury like offline geeks. For meeting weekly, make sure there's also good coffee/snacks; when meeting monthly some place you can bring in pizza and beer is nice. Coffee shops, bars, university buildings, or local hacker spaces are all good places to meet. You might want to check out a few venues initially, but pick one fairly quickly, so people don't get confused.
</p>

<h2>Meet!</h2>
<p>
This is the fun part! Tell a bunch of people about the event, bring something distinctive (like <a href="http://www.flickr.com/photos/14799217@N08/3255426613/">a whiteboard</a> or <a href="http://lyfe.net/i/2803">laptop stickers</a>). Show up a little early and hack away!
</p>
{% endblock %}