{% extends "base_page.html" %}

{% block content %}
<h2>Who are we?</h2>
<p>
If you're new to coding or a seasoned hacker, CoffeeHouseCoders is for you. We meet once a week in local coffee shops to work on pet projects, talk about technology, and meet our fellow hackers.
</p>

<p>Sound like your kind of thing?</p>

<div class="flickr">
    <object class="flickr" width="300" height="200">

        <param name="flashvars" value="&offsite=true&amp;lang=en-us&page_show_url=%2Fsearch%2Fshow%2F%3Fq%3Dcoffeehousecoders&page_show_back_url=%2Fsearch%2F%3Fq%3Dcoffeehousecoders&method=flickr.photos.search&api_params_str=&api_text=coffeehousecoders&api_tag_mode=bool&api_sort=relevance&jump_to=&start_index=0">
        </param>
        <param name="movie" value="http://www.flickr.com/apps/slideshow/show.swf?v=67348">
        </param>
        <param name="allowFullScreen" value="true">
        </param>
        <embed type="application/x-shockwave-flash" src="http://www.flickr.com/apps/slideshow/show.swf?v=67348" allowFullScreen="true" flashvars="&offsite=true&amp;lang=en-us&page_show_url=%2Fsearch%2Fshow%2F%3Fq%3Dcoffeehousecoders&page_show_back_url=%2Fsearch%2F%3Fq%3Dcoffeehousecoders&method=flickr.photos.search&api_params_str=&api_text=coffeehousecoders&api_tag_mode=bool&api_sort=relevance&jump_to=&start_index=0" width="400" height="300">
        </embed>
    </object>
</div>

<h2>Join up!</h2>

<p>
    Find a <a href="/locations/">meetup location near you</a>.
    You can also <a href="/irc/">chat with us on IRC</a>.
</p>
{% endblock %}