{% extends "base_page.html" %}

{% block content %}
<h2>Locations</h2>
<p>Don't see your location below? <a href="/advice/">start your own</a>!</p>
<div class="locations">
    <ul>
        <li>
            <a href="/locations/ann_arbor.html">Ann Arbor, MI</a>
        </li>
        <li>
            <a href="/locations/detroit.html">Detroit, MI</a>
        </li>
        <li>
            <a href="/locations/downriver.html">Downriver Area, MI</a>
        </li>
        <li>
            <a href="/locations/lansing.html">Lansing, MI</a>
        </li>
    </ul>
</div>
{% endblock %}